h1 {
  font-family: 'Macondo Swash Caps', cursive;
  font-size: 80px;
  text-align: center;
}

h2 {
  font-family: 'Macondo Swash Caps', cursive;
  font-size: 48px;
  text-align: center;
}

h3 {
  font-family: 'Macondo Swash Caps', cursive;
  font-size: 32px;
  text-align: center;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}

a {
  color: #9A1D51;
  text-decoration: none;
}

a:hover {
  color: #CE276D;
  text-decoration: none;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle at center, #e7d5d5, #ffffff);
  background-size: 100% 100%;
  animation: gradientShift 12s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 50% 50%;
  }
  100% {
    background-size: 100% 100%;
  }
}

